
#menu{
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
  z-index: 7;
  width: 100%;
  padding: 0 10px 0 0;
  margin: 0;
  text-align: right;
}

#menu li .active{
  background:#666;
  background: rgba(0,0,0, 0.5);
  color: #fff;
}
#menu li a{
  text-decoration:none;
  color: #554FAB;
}
#menu li.active a:hover{
  color: #000;
}
#menu li:hover{
  background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
  padding: 9px 9px;
  display:block;
}
#menu li.active a{
  color: #fff;
}

#menu ul{
  list-style:none;
  padding:0;
  margin:0;
}

.list
{
  display: inline-block;
  margin: 10px;
  color: #000;
  background: rgba(255,255,255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-weight: 700;
  font-family:  "Josefin Slab",Arial,"Myriad Pro";
  padding: 0.15em 0.05em 0;
  position: relative;
  z-index: 1;
  -webkit-transition:color 0.2s;
  transition:color 0.2s;
}

.list:hover
{
  color: rgba(255,255,255,1);
}

.tooltip
{
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  top: 100%;
  left: 50%;
  margin-left: -30px;
  margin-top: 20px;
  text-align: center;
  padding-bottom: 25px;
  color: #67B38E;
  opacity:0;
  -webkit-transition:opacity 0.3s,-webkit-transform 0.3s;
  transition:opacity 0.3s,transform 0.3s;
}
.tooltip i
{
  opacity: 0;
  -webkit-transition:opacity 0.3s;
  transition:opacity 0.3s;
  z-index: 99;
  position: relative;
  top:10px;
}
.tooltip:after
{
  display: block;
  width: 30px;
  height: 14px;
  background: url(./../img/tooltip1.svg) no-repeat center center;
  content: "";
  position: absolute;
  bottom: 93%;
  left: 50%;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  margin-left: -15px;
}

.list-1 .tooltip
{
  -webkit-transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);
  transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);
  -webkit-transform-origin:50% 100%;
  transform-origin:50% 100%;
}
.list-1 .tooltip i
{
  -webkit-transform:scale3d(0,0,1);
  transform:scale3d(0,0,1);
}
.list-2 .tooltip
{
  -webkit-transform:translate3d(0,20px,0);
  transform:translate3d(0,20px,0);
}
.list-2 .tooltip i
{
  -webkit-transform:translate3d(0,15px,0);
  transform:translate3d(0,15px,0);
}
.list-3 .tooltip
{
  -webkit-transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);
  transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);
  -webkit-transform-origin:50% 100%;
  transform-origin:50% 100%;
}
.list-3 .tooltip i
{
  -webkit-transform:scale3d(0,0,1);
  transform:scale3d(0,0,1);
}
.list-4 .tooltip
{
  -webkit-transform:translate3d(0,-20px,0);
  transform:translate3d(0,-20px,0);
}
.list-4 .tooltip i
{
  -webkit-transform:translate3d(0,-20px,0);
  transform:translate3d(0,-20px,0);
}
.list-5 .tooltip
{
  -webkit-transform:scale3d(0,0,1);
  transform:scale3d(0,0,1);
}
.list-5 .tooltip i
{
  -webkit-transform:scale3d(0,0,1);
  transform:scale3d(0,0,1);
}
.list:hover .tooltip,
.list:hover .tooltip i
{
  opacity: 1;
  -webkit-transform:translate3d(0,0,0) rotate3d(1,1,1,0) scale3d(0,0,0);
  transform:translate3d(0,0,0) rotate3d(1,1,1,0) scale3d(1,1,1);
}

#avatar {
  display: block;
  height: 256px;
  width: 256px;
  margin: 30px auto;
  border: 5px #fff solid;
  border-radius: 50%;
  box-shadow: 3px 3px 8px rgba(0, 115, 115, 0.6);
}
#title{
  font-family: Arial;
  font-size: 65px;
  color: #fff;
  text-align: center;
  margin: 10px auto;
  text-shadow:3px 3px #22c3aa,5px 3px #aee2d9;
}
#add{
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  color: #4C9B9B;
  text-align: center;
  margin: 5px auto;
}
#subtitle{
  font-family: Arial;
  font-size: 30px;
  color: #4C9B9B;
  text-align: center;
  margin: 10px auto;
}

#section2{
  position: relative;
}
.about_me,.cont{
  display: inline-block; 
  height: 30px;
  width: 300px;
  float: left;
  font-size: 20px;
  font-weight: 700;
  font-family: "Josefin Slab",Arial,"Myriad Pro";
  position: absolute;
  top: 50px;
  left: 150px;
  letter-spacing: .15em;
  cursor: pointer;
}
.pic img{
  width: 360px;
  height: 390px;
  position: absolute;
  left: 136px;
  top: 140px;
  border-radius: 25px;
  border: 5px solid rgba(181, 255, 247, 0.8);
  box-shadow: 6px 6px 5px rgba(208, 247, 247, 0.6);
}
.infor{
 
  height: 205px;
  margin: 5px auto;
  padding:2px;
  position: absolute;
  top: 123px;
  left: 520px;
  color: rgb(109, 107, 140);
  font-weight: 600;
}
.infor ul li {
  list-style-type: none;
  font-size: 18px
}
.infor li span{
  display: inline-block;
  text-align: right;
  width: 70px;
}
.infor ul li a{
  text-decoration: none;
  color: rgb(33, 122, 186);
}
.infor ul li a:hover{
  color: yellow;
  font-size: 1.1em;
}
.infor p{
  font-size: 18px;
  padding-left: 40px;
  line-height: 1.5em;
  color: rgb(109, 107, 140);
}
.skill{
  position: absolute;
  top: 123px;
  right: 50px;
  height: 205px;
  margin: 5 auto;
  padding:2px;
}
.skill p{
  color: rgb(109, 107, 140);
  font-weight: 600;
  font-size: 18px;
}
.skill p span{
  left: -21px;
  width: 6px;
  height: 6px;
  border: 1px solid #0E6676;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
.icon{
  width: 50%;
  height: 258px;
  margin: 50px auto;
}
.icon p{
  font-family:  "Microsoft YaHei";
  font-size: 35px;
  color: rgb(210, 27, 207);
  margin: 10px 150px;
}
.icon p a{
  text-decoration: none;
  color: #495EF0;
}
.icon li{
  width: 80px;
  height: 80px;
  margin: 20px;
  float: left;
  list-style-type: none;
}
.icon li img{
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
 /* box-shadow: 2px 3px 5px rgba(122, 131, 221,.8);*/
  -webkit-transition: 0.4s ease-in;
  transition: 0.3s;
}
.icon li a:hover img{
  -webkit-transform:rotate(360deg) scale3d(.8,.8,.8);
  transform:rotate(360deg) scale3d(.8,.8,.8);
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
}

#section4 .slide .list-img {
  text-align: center;
}
#section4 .slide .list-img .img {
  width: 29%;
  margin: 1%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#section4 .slide .list-img .img span {
  display: none;
  font-size: 24px;
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  padding-top: 20%;
  background-color: #ff2922;
  background-image: url("../img/enter.png");
  background-repeat: no-repeat;
  background-position: center 60%;
}
.has-animate #section4 .slide .list-img .img span {
  display: block;
}
#section4 .slide .list-img .img span.animate {
  transition: all 0.5s ease;
}
#section4 .slide .list-img .img span.animate.left,
#section4 .slide .list-img .img span.animate.right,
#section4 .slide .list-img .img span.animate.top,
#section4 .slide .list-img .img span.animate.bottom {
  opacity: 1;
  z-index: 1;
}
#section4 .slide .list-img .img span.left {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
#section4 .slide .list-img .img span.right {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
#section4 .slide .list-img .img span.top {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
#section4 .slide .list-img .img span.bottom {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
#section4 .slide .list-img .img img {
  display: block;
  width: 100%;
}
#section4 .slide .list-img .img:hover span {
  transition: none;
  z-index: 10;
  opacity: 1;
}
#section4 .slide .list-img .img:hover span.animate {
  transition: all 0.5s ease;
}
#section4 .askme {
  position: absolute;
  display: none;
  margin-top: -209px;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  height: 477px;
}


.section{
  background: -webkit-gradient(linear, top left, bottom left, from(#FFCAFA), to(#24F7E7));
  background: -webkit-linear-gradient(#FFCAFA, #24F7E7);
  background: linear-gradient(#FFCAFA,#24F7E7);
}
