
@import "mixin";

$toolbar-size:52px;

.toolbar-item,.toolbar-btn,.toolbar-icon,.toolbar-text{
	width: $toolbar-size;
	height: $toolbar-size;
}

.toolbar-icon,.toolbar-text{
	position: absolute;
	left: 0;
	color: #fff;
	padding-top: 12px;
	text-align: center;
	@include transition(top .5s);
}

.toolbar{
	position: fixed;
	left: 90%;
	bottom: 10px;
	margin-left: -$toolbar-size / 2;
}
.toolbar-item {
	position: relative;
	display: block;
	margin-top: 1px;

	&:hover{
		.toolbar-icon{
			top:-$toolbar-size;
		}
		.toolbar-text{
			top: 0;
		}
		.toolbar-layer{
			@include opacity(1);
			@include scale(1);
		}
	}
}
.toolbar-btn{
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.toolbar-icon{
	top: 0;
	background: #d0d6d9;
	font-size: 30px;
}
.toolbar-text{
	top: $toolbar-size;
	line-height:1.2;
	background: #98a1a6;
	font-size: 12px;
}
.toolbar-layer{
	position: absolute;
	right: $toolbar-size;
	bottom: 0;
	width: 172px;
	background: url(.././images/toolbar_img.png) no-repeat;
	@include opacity(0);
	@include transform-origin(right bottom);
	@include scale(0);
	@include transition(all .6s);
}
.toolbar-layer-weixin{
	height: 212px;
	background-position: 0 0;
}
.toolbar-layer-app{
	height: 194px;
	background-position: 0 -222px;
}














