	body{
		background-color: #333;
	}
	.bg-div{
		position:relative;
		background-image: url(../images/river.jpg);
		width:1228px;
		height:690px;
		margin: 0 auto;
	}
	.logo{background-image: url(../images/logo.png);height:53px;width: 107px; float: left;margin: -4px 18px 0 0;}
	.search-form{float: left; background-color: #fff;padding:5px;}
	.search-text{height:25px;line-height: 25px;float: left;width: 350px;border: 0;outline: none;}
	.search-button{background-image: url(../images/search-button.png);width:29px;height:29px;float: left;border: 0}
	.search-box{position:absolute;top:150px;left: 200px; }
	.suggest{width:388px; background-color:#fff;position:absolute;margin:0;padding:0;border-width:1px;border-style:solid;border-color: #999;}
	.suggest ul{list-style:none;display:block;margin:0;padding:0}
	.suggest ul li {padding:3px;line-height:25px;font-size: 14px;color: #777;cursor: pointer;padding:3px;}
	.suggest ul li:hover{background-color:#e5e5e5;text-decoration: underline;}
	.suggest strong{color:#000;}